/* MAIN PRODUCTS */

.main_products {
    grid-area: main;
    display: grid;
    overflow: hidden;
    grid-template-areas:
        "searcher"
        "cards_products"
        "bar ";
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, max-content);
    background-color: $color_secondary;

    .searcher {
        grid-area: searcher;
        display: flex;
        padding: 1vw;
        justify-content: center;
        background-color: $color_secondary;

        div {
            display: grid;
            width: 55vh;
            grid-template-areas: "photo search btn_search";
            grid-template-columns: 1fr max-content 1fr;
            grid-template-rows: max-content;
            padding: 0.5vw;
            justify-items: center;
            align-items: center;
            background-color: $color_bg;
            border: 1px solid $color_principal;

            img {
                grid-area: photo;
                width: calc(12px + 0.75vw);
                height: calc(12px + 0.75vw);
            }

            input {
                grid-area: search;
                border: none;
                text-align: center;
                font-family: $font_text;
                font-size: calc(0.6em + 0.75vw);
                background-color: $color_bg;
            }

            h5 {
                grid-area: btn_search;
                margin: 0px;
                font-family: $font_additionals;
                font-weight: bold;
                font-size: calc(0.6em + 0.75vw);
                text-transform: uppercase;
                color: $color_principal;
            }
        }
    }

    .cards_products {
        grid-area: cards_products;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 5vw 2vw;
        padding: 3vw 12vw;
        justify-items: center;
        align-items: center;
        background-color: $color_secondary;

        .card_products {
            height: 400px;
            width: 250px;
            display: grid;
            grid-template-areas:
                "card_products_photo"
                "card_products_title"
                "card_products_text";
            grid-template-columns: 100%;
            grid-template-rows: 45% 15% 40%;
            align-items: center;
            justify-items: center;
            padding: 0.5vw;
            font-family: $font_additionals;
            font-size: calc(0.75em + 0.2vw);
            background-color: $color_bg;
            box-shadow: 3px 8px 10px 5px $color_card_detail;
        
            .card_products_photo {
                grid-area: card_products_photo;

                img {
                    height: 125px;
                    width: 125px;
                }
            }
            
            .card_products_title {
                grid-area: card_products_title;
                text-align: center;
            }
            
            .card_products_text {
                grid-area: card_products_text;
                font-family: $font_text;
                font-size: calc(0.65em + 0.4vw);
            
                p {
                    text-align: justify;
                    justify-content: center;
                    align-content: center;
                    padding: 0vw 1vh;
                }
            }
        }
    }
}


















