@import url("https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300;400;700&family=Oswald:wght@500&family=Wire+One&display=swap");

$font_header: "Open Sans", sans-serif;
$font_text: "Abel", sans-serif;
$font_footer: "Wire One", sans-serif;
$font_additionals: "Oswald", sans-serif;